/** @format */

.post-container {
  width: 90%;
  height: 100%;
  box-sizing: border-box;
}

.post-contents {
  margin-top: 25px;
  width: 100%;
  margin-bottom: 25px;

  background: #fff;
  padding: 0.5rem 3rem;
  padding-right: 5rem;
  border-radius: 15px;
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  border: 2px solid rgba(255, 255, 255, 0.336);
  box-shadow: rgba(17, 12, 46, 0.021) 0px 12px 50px 0px;
  &:hover {
    border: 2px solid rgba(255, 255, 255, 0.233);
  }
}
.post-wrapper {
  display: flex;
  justify-content: space-around;
  width: 100%;
  gap: 0 1rem;
  position: relative;
}
.post-details {
  margin: 0px 0 20px;
  color: rgb(0, 0, 0);
  flex-shrink: 0 !important;
  width: 100%;
}
.post-image-wrapper {
  width: 100%;
  margin: 18px 0;
}
.post-text {
  margin-top: 10px;
  margin-bottom: 4px;
}
.post-title {
  font-size: 21px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.4;
  font-weight: 600;
  margin-bottom: 4px;
  margin-top: 0;
}
.post-desp {
  margin-top: 8px;
}

.author {
  padding: 30px 0 0;
  display: flex;
  align-items: flex-start;
  gap: 0 0.7rem;
  color: white;
  position: relative;
  bottom: 9px;
}
.author .author-image {
  width: 43px;
  height: 43px;

  border-radius: 10px;
}

.author-name {
  margin-bottom: 4px;
  font-size: 18px;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  color: #5814d6;
  text-transform: capitalize;
  letter-spacing: 0.4px;
  opacity: 1;
}
.post-duration {
  font-family: "Open Sans", sans-serif;
  display: block;
  font-size: 12.2px;
  color: #59758c;
  margin-bottom: 4px;
}

.post-likes-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 9px;
  font-family: "Open Sans", sans-serif;
  span {
    font-size: 14px;
    color: #222222;
    opacity: 0.9;
    font-weight: 500;
    text-decoration: underline;
    cursor: pointer;
    &:hover {
      color: black;
    }
  }
}
.post-action {
  position: absolute;
  right: 0;
  top: 1rem;
  z-index: 10;
}
