/** @format */

.post-interations-wrapper {
  width: 100%;
  margin-top: 18px;
  display: flex;
  align-items: center;
  gap: 0 0.7rem;
}
.post-interaction {
  padding: 0 0.4rem;
  border-radius: 50%;
  display: flex;
  gap: 0 0.3rem;
  align-items: center;
  justify-content: center;
  background-color: #5814d6;
  padding: 0.6rem;
  color: white;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
  span {
    font-weight: 600;
    font-size: 15px;
    letter-spacing: -0.3px;
  }
  .interaction-icon {
    font-size: 18px;
  }
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);

  &:hover {
    background-color: rgba(0, 0, 0, 0.897);
    box-shadow: 0px 0px 20px #dbeaee2c;
  }
}
.post-int-active {
  background-color: #db1e1e;

  box-shadow: 0px 0px 20px #dbeaee2c;
}
.post-int-active-com {
  background-color: #0c0c0c;
  box-shadow: 0px 0px 20px #dbeaee2c;
}
