/** @format */

.user-container {
  max-width: 65%;
  height: 100%;
  margin: 0 auto;
}
.user-contents {
  width: 100%;
  min-height: 80vh;
  display: flex;
  gap: 0 0.8rem;

  align-items: center;
}
.user-image-container {
  width: 100%;
  height: 200px;
  position: relative;
  background-color: azure;
  .user-bgimage {
    width: 100%;
    height: 100%;
    position: relative;
    &:before {
      position: absolute;
      top: 35px;
      bottom: 0;
      background: linear-gradient(0deg, #5814d617, #00000000);
      content: "";
      width: 100%;
      height: 100%;
      filter: blur(10px);
    }
    img {
      width: 100%;
      object-fit: cover;
      height: 100%;
    }
  }
  .user-profile-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: rgb(24, 23, 23);
    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      object-fit: cover;
    }
  }
  .user-nav-wrapper {
    position: absolute;
    bottom: -2rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;

    .user-nav {
      ul {
        display: flex;
        gap: 0 0.7rem;
        font-family: "Open sans", sans-serif;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.11);
        padding: 0.25em 0.5rem;
        border-radius: 15px;
        justify-content: space-around;
        width: 100%;
        border: 2px solid #5814d667;
        box-sizing: border-box;
        position: relative;

        // &:before {
        //   content: "";
        //   position: absolute;
        //   top: 50%;
        //   transform: translateY(-50%);
        //   left: 75%;
        //   background-color: #080808;
        //   border-radius: 40px;
        //   width: 110px;
        //   height: 80%;
        //   z-index: 0;
        //   transition: 0.5s cubic-bezier(0.19, 1, 0.22, 1);
        // }
        li {
          color: #5814d6;
          padding: 0.4rem 0.6rem;
          cursor: pointer;
          font-size: 14px;
          list-style-type: none;
          display: flex;
          align-items: center;
          font-weight: 600;
          gap: 0 0.2rem;
          position: relative;
          z-index: 1;
          &:hover {
            color: black;
          }
          .user-nav-icon {
            font-size: 18px;
          }
        }
        a {
          text-decoration: none;
        }
        .li-active {
          color: rgb(10, 10, 10);
        }
      }
    }
  }
}

.user-details {
  width: 100%;
  height: 100%;
  background-color: rgb(253, 253, 253);
}
.user-items {
  width: 90%;
  margin: 5rem auto 4rem;
  min-height: 180px;
  .user-form {
    form {
      display: flex;
      flex-direction: column;
      gap: 0.8rem 0;
      .user-form-item {
        display: flex;
        flex-direction: column;
        font-family: "Open sans", sans-serif;
        label {
          margin: 8px 0;
          font-size: 16px;
          color: #42198f;
          font-weight: 500;
          span {
            color: red;
            font-size: 0.9rem;
            display: flex;
            gap: 0 0.15rem;
            align-items: center;
            font-weight: 400;
            cursor: pointer;
            &:hover {
              text-decoration: underline;
            }
            .cancel-icon {
              font-size: 20px;
            }
          }
        }
        .change-btn {
          margin-top: 12px;
          text-decoration: underline;
          cursor: pointer;
          opacity: 0.9;
          font-size: 14px;
          font-weight: 500;
          &:hover {
            opacity: 1;
            color: #080808;
          }
        }
        button {
          margin-top: 25px;
          background-color: #5814d617;
          color: rgb(0, 0, 0);
          padding: 0.4rem 0rem 0.45rem;
          width: 120px;
          display: flex;
          justify-content: center;
          font-size: 14px;
          cursor: pointer;
          border-radius: 5px;
          border: 2px solid #5814d6d5;
          transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
          font-family: "Open sans", sans-serif;
          font-weight: 400;
          &:active {
            transform: scale(0.95);
          }
          &:hover {
            background: transparent;
          }
        }
      }
      input {
        font-family: "Open sans", sans-serif;
        padding: 0.65rem 0.6rem;
        box-sizing: border-box;
        color: black;
        border-radius: 10px;
        border: 2px solid #1f1f1f50;
        outline: 0;
        &::placeholder {
          color: black;
        }
      }
    }
  }
}
