/** @format */

.author-status-wrapper {
  width: 100%;
  border-radius: 10px;
  background: #202e38;
  height: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.author-status-contents {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 0.8rem;
  width: 100%;

  form {
    width: 90%;
    input {
      border-radius: 10px;
      outline: 0;
      border: 0;
      width: 90%;
      background-color: #16242e;
      padding: 0.8rem 1rem;
      font-family: "Open Sans", sans-serif;
      font-weight: 500;
      color: white;
    }
  }
}
