/** @format */

.author-status-wrapper {
  width: 100%;
  border-radius: 15px;
  background: #ffffff;
  min-height: 110px;
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  position: relative;
  margin-bottom: 25px;
  box-shadow: rgba(17, 12, 46, 0.041) 0px 12px 50px 0px;
  box-sizing: border-box;
}

.author-status-contents {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 0.8rem;
  width: 100%;
  margin: 0 auto 4px;
  form {
    width: 100%;
    input {
      border-radius: 10px;
      outline: 0;
      border: 0;
      width: 100%;
      background-color: #eeeeee;
      padding: 0.75rem 1rem;
      box-sizing: border-box;
      font-family: "Open Sans", sans-serif;
      font-weight: 500;
      color: #000000;
      font-size: 15.5px;
      border: 2px solid #5814d65d;
      transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
      &:active {
        border: 2px solid #5814d6f5;
      }
      &:focus {
        border: 2px solid #5814d6f5;
      }
    }
  }
}
.author-no-status {
  form {
    input {
      border: 2px solid rgba(255, 0, 0, 0.61);
    }
  }
}
.upload-item-status {
  color: #000000;
  font-size: 12.5px;
  padding-left: 3rem;
  font-family: "Open sans", sans-serif;
  margin-top: 14px;
  font-weight: 500;
  letter-spacing: 0.3px;
}
.uploaded-items-wrapper {
  width: 100%;
  margin: 10px auto 10px;
  display: flex;
  padding-left: 3rem;
  gap: 0.8rem 1rem;
  .uploaded-item-details {
    display: flex;
    align-items: center;
    margin: 0.45rem 0 0.4rem;
    gap: 0 0.3rem;
    p {
      margin: 0;
      display: flex;
      align-items: center;
      white-space: nowrap;
      overflow: hidden;
      font-weight: 500;
      color: #5814d6;
      font-family: "Poppins", sans-serif;
      font-size: 12.5px;
    }
  }
  .upload-progress-status {
    position: relative;
    z-index: 1;
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    background-color: rgba(8, 8, 8, 0.589);
  }
  .uploaded-checkicon {
    position: relative;
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    img {
      width: 30px;
      height: 30px;
    }
  }
  .uploaded-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0 0.2rem;
    color: rgb(184, 184, 184);
    width: 160px;
    padding: 0.3rem 0.5rem;
    padding-left: 0.5rem;
    padding-top: 0.5rem;
    border: 2px solid #5814d669;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    &:hover {
      box-shadow: 0px 0px 20px #5316c533;
      color: white;
    }
  }
  .cancel-upload-icon {
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    font-size: 17.5px;
    position: relative;
    top: 0.5px;
    position: absolute;
    z-index: 2;
    top: -0.5rem;
    right: -0.5rem;
    background-color: white;
    border-radius: 50%;
    color: black;
    &:hover {
      color: white;
      background-color: rgb(102, 102, 102);
    }
    &:active {
      transform: scale(0.9);
    }
  }

  .uploaded-img {
    width: 100%;
    height: 70px;
    object-fit: cover;
    border-radius: 8px;
  }
}
.error-content {
  color: #ec3b0e;
  font-size: 13.5px;
  margin-top: 12px;
  font-weight: 600;
  padding-left: 3rem;
  font-family: "Open sans", sans-serif;
}
.send-icon-wrapper {
  position: absolute;
  right: 1rem;
  bottom: 0.8rem;

  button {
    border: 0;
    outline: 0;
    background: transparent;
    color: #5814d6;
    &hover {
      color: black;
    }
  }
  .send-icon {
    cursor: pointer;
    font-size: 18px;
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    &:active {
      transform: scale(0.9);
    }
  }
}
.create-post-lottie {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.8);
  z-index: 101;
}
.toast-btn {
  font-family: "Open Sans", sans-serif;
  background-color: #5814d6;
  color: white;
  margin-left: 4px;
  border-radius: 20px;
  outline: 0;
  border: 0;
  cursor: pointer;
  width: 80px;
  padding: 0.1rem 0.2rem;
}
