/** @format */
.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 0;
  height: 50px;
}
.profile-nav {
  position: relative;
}

.profile-dropdown {
  width: 100%;
  height: auto;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.116);
  padding: 5px;
  position: absolute;
  background: #424f55;
  border-radius: 5px;
  top: 120%;
  left: 0rem;
  height: 0;
  padding: 0;
  z-index: 50;
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  ul {
    padding-left: 9px;
    display: none;
  }
}

.profile-nav {
  width: auto;
  min-width: 150px;
  position: relative;
  display: flex;
  justify-content: center;
}
.profile-dropdown_active {
  height: auto;
  padding-bottom: 8px;
  ul {
    display: block;
  }
}

.profile-dropdown ul li {
  list-style-type: none;
  margin: 12px 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;

  &:hover {
    opacity: 0.7;
  }

  a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    gap: 0 0.45rem;
  }
  .dropdown-list_icon {
    font-size: 20px;
  }
}

.profile-img-wrapper {
  width: 100%;
  background: #424f55;
  padding: 0.35rem 0.65rem;
  border-radius: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 0 0.2rem;
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  cursor: pointer;
  position: relative;
  z-index: 1;
  &:hover {
    box-shadow: 0px 0px 20px #424f55;
  }
}

.profile-img-arrow {
  color: white;
  margin-top: 0.4px;
}

.profile-name {
  color: white;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}
