/** @format */

.post-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  bottom: 0;
}
.image-wrapper {
  position: relative;
  padding-top: 56.25%;
}
.myswiper {
  width: 100% !important;
  height: 260px !important;
  border-radius: 15px !important;
}
